body{
    background: url(background.jpeg);
    background-size: cover;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.Keys{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.key{
    text-align: center;
    border: .4rem white;
    border-radius: 0.5rem;
    width: 10rem;
    color: white;
    margin: 1rem;
    padding: 1 rem, .5rem;
    font-size: 2rem;
    background: rgba(243, 242, 242, 0.3);
    transition: all .07s ease;
    text-shadow: 0 0 .5rem whitesmoke;

}

kbd {
    display: block;
    font-size: 3rem;
}

.sound {
    font-size: 2rem;

}